
<!-- HEADER -->
<header id="header">
  <div class="header-top-bar">

    <!--
    HEADER TOP BAR WITH NOTIFICATION FOR REGISTER USER
    -->

    <div class="header-notification-bar" style="display:none;">
      <div class="register-user">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <div class="logo-section">
                <a href="index.html"><img src="<%= asset_path 'logo-bu.png' %>" alt=""></a>
              </div>
            </div>

            <div class="col-md-6 col-sm-5">
              <div class="search-form">
                <form action="#">
                  <button class="dropdown-search"><i class="fa fa-caret-down"></i> <i class="fa fa-bars"></i></button>
                  <input type="search" placeholder="Search..." class="topbar-search-input">
                  <button class="search-button"><i class="fa fa-search"></i></button>
                </form>

              </div>
            </div>

            <div class="col-md-3 col-sm-4">
              <div class="notification-section text-right">
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-envelope-o"></i></a><span class="new-notification">3</span></li>
                  <li><a href="#"><i class="fa fa-bell-o"></i></a><span class="new-notification">3</span></li>
                  <li class="user-profile-pic"><a href="#"><img src="<%= asset_path 'content/agent-img-1.jpg' %>" alt=""></a></li>
                </ul>
              </div>
            </div>

          </div> <!-- end .row -->
        </div> <!-- end .container -->
      </div> <!-- end .register-user -->
    </div> <!-- end. header-notification-bar  -->

    <!--
    END HEADER NOTIFICATION TOP BAR
    -->

    <!--
    HEADER TOP BAR FOR NON REGISTER USER
    -->

    <div class="header-notification-bar">
      <div class="non-register-user">

        <div class="container">
          <div class="row">

            <div class="col-md-3 col-sm-3">
              <div class="logo-section">
                <a href="index.html"><img src="<%= asset_path 'logo-bu.png' %>" alt=""></a>
              </div>
            </div>

            <div class="col-md-6 col-sm-5">
              <div class="search-form">

                <form action="#">
                  <button class="dropdown-search"><i class="fa fa-caret-down"></i> <i class="fa fa-bars"></i></button>
                  <input type="search" placeholder="Search..." class="topbar-search-input">
                  <button class="search-button"><i class="fa fa-search"></i></button>
                </form>

              </div>
            </div>

            <div class="col-md-3 col-sm-4">
              <div class="notification-section text-right">

                <ul class="list-inline">
                  <li><a href="#">EN<i class="fa fa-caret-down"></i></a>
                    <ul>
                      <li><a href="#">DE</a></li>
                      <li><a href="#">ES</a></li>
                      <li><a href="#">IT</a></li>
                    </ul>

                  </li>
                  <li><a href="#">Login</a></li>
                  <li><a href="#">Register</a></li>
                </ul>
              </div>
            </div>

          </div> <!-- end .row -->
        </div> <!-- end .container -->
      </div> <!-- end .visitors-top-bar -->
    </div> <!-- end. header-notification-bar  -->


    <!--
    END HEADER TOP BAR FOR WITHOUT LOGIN USER
    -->

    <!-- Navigation -->
    <div class="main-navbar">

      <nav class="navbar navbar-default">
        <div class="container">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="<%= asset_path 'logo-bu.png' %>" alt=""></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="index.html">Home</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Job
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="job-search.html">job search</a></li>
                  <li><a href="job-preview.html">Job Preview</a></li>
                  <li><a href="job-registration(full-width).html">Job Registration (full-width)</a></li>
                  <li><a href="job-registration(sidebar).html">Job Registration (sidebar)</a></li>

                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Candidate
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="candidate-profile.html">candidate profile</a></li>
                  <li><a href="candidate-registration.html">Candidate registration</a></li>
                </ul>
              </li>
              <li><a href="professionals.html">Professionals</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our clients
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="clients.html">Our clients</a></li>
                  <li><a href="add-client.html">Quick add client</a></li>
                  <li><a href="client-profile(tab1).html">Client profile</a></li>
                  <li><a href="client-profile(tab2).html">Client team</a></li>
                  <li><a href="client-profile(tab3).html">Applicants</a></li>
                  <li><a href="client-registration.html">Client registration</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agent
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="our-agents.html">Our agents</a></li>
                  <li><a href="agent-profile.html">Agent profile</a></li>
                  <li><a href="add-agents.html">Add agent</a></li>
                </ul>
              </li>
              <!-- <li><a href="#">Blog</a></li> -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Registration
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="register-process1.html">Registration step 1</a></li>
                  <li><a href="register-process2.html">Registration step 2</a></li>
                  <li><a href="register-process3.html">Registration step 3</a></li>
                  <li><a href="register-process4.html">Registration step 4</a></li>
                </ul>
              </li>
              <li><a href="contact-us.html">Contact</a></li>
            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    </div> <!-- main-navbar -->
    <!-- end .header-top-bar -->
  </div>


</header>
<!-- end #header -->